<header id="header" class="m-0 w-100 position-relative" style="padding-top: 60px">
  <div class="header-container">
    {% assign heroImage = '' %}
    {% assign altText = 'Forest portal' %}
    {% for att in page.attachments %}
      {% if att.file_name contains "hero_" %}
          {% comment %}
            Images are served faster from Cloudfront than from NationBuilder. The NationBuilder path will be like
            https://assets.nationbuilder.com/futureparty/pages/4040/meta_images/original/hero_cloudfront_pink_library.png?1715400334
          {% endcomment %}
          {% assign nameParts = att.file_name | split: 'cloudfront_' %}
          {% if nameParts.size >= 2 %}
            {% assign heroImage = 'https://fusionparty.space/images/' | append: nameParts[1] %}
          {% endif %}
          {% comment %}
            Please use useful names for your images!
          {% endcomment %}
          {% assign altText = att.file_name | replace: 'hero_', '' | replace: 'cloudfront_', '' | replace: '_', ' ' | replace: '.webp', '' | replace: '.png', '' | replace '.jpg', '' %}
          {% break %}
      {% endif %}
    {% endfor %}
    {% if heroImage.size > 0 %}
      <img class="mt-0 mt-lg-2" src="{{ heroImage }}" alt="{{ altText }}"/>
    {% endif %}
    {% if page.headline.size > 0 %}
        <div class="header-content d-flex align-items-center">
            {% assign h_color = 'pink' %}
            {% for tag in page.tags %}
                {% if tag.name contains "_h-" %}
                    {% assign h_color = tag.name | replace: '_h-', '' %}
                    {% break %}
                {% endif %}
            {% endfor %}
            {% assign phrases = page.headline | split: ' ' %}
            <h1 class="bg-gray-transparent align-items-left h-underline h-{{ h_color }} h-underline-animate inter fw-700
              ml-3 ml-sm-4 ms-md-5 mt-3 mt-lg-4 p-1 fs-scale">
                {% if phrases.size >= 2 %}
                    {% comment %}
                    We'll find the closest space to the middle, and use the two halves as separate spans
                    {% endcomment %}
                    {% assign best_distance_to_midpoint = page.headline.size | divided_by: 2 %}
                    {% assign best_split_index = 0 %}
                    {% assign current_length = 0 %}
                    {% for phrase in phrases %}
                        {% assign current_length = current_length | plus: phrase.size %}
                        {% assign current_distance = current_length | minus: midpoint | abs %}
                        {% if current_distance <= best_distance_to_midpoint %}
                            {% assign best_split_index = forloop.index %}
                            {% comment %}
                            We're using index (starting at 1) instead of .index0: https://shopify.github.io/liquid/tags/iteration/
                            {% endcomment %}
                            {% assign best_distance_to_midpoint = current_distance %}
                        {% else %}
                            {% comment %}
                              The situation will not be getting any better
                            {% endcomment %}
                            {% break %}
                        {% endif %}
                        {% assign current_length = current_length | plus: 1 %}
                    {% endfor %}

                    {% assign first_half = phrases | slice: 0, best_split_index | join: ' ' %}
                    {% assign second_half = phrases | slice: best_split_index + 1, phrases.size | join: ' ' %}
                    <span class="d-none d-sm-block">{{ page.headline }}</span>
                    <span class="d-block d-sm-none">{{ first_half }}</span><span class="d-block d-sm-none">{{ second_half }}</span>
                {% else %}
                    {{ page.headline }}
                {% endif %}
            </h1>
        </div>
    {% endif %}
  </div>
</header>
