{% assign isNicokaku = false %}
{% for tag in page.tags %}
    {%  if tag.name == "nicokaku" %}
        {%  assign isNicokaku = true %}
        {%  break %}
    {% comment %}else, the font will be Inter{% endcomment %}
    {% endif %}
{% endfor %}
<header id="header" class="m-0 w-100 position-relative" style="padding-top: 60px">
  <div class="header-container">
    {% assign heroImage = '' %}
    {% assign splashImage = '' %}
    {% assign hasBackground = false %}
    {%  comment %}
    Splash is the old term
    {% endcomment %}
    {% assign altText = 'Forest portal' %}
    {% for att in page.attachments %}
      {% if att.file_name contains "hero_" %}
          {% assign hasBackground = true %}
          {% comment %}
            Images are served faster from Cloudfront than from NationBuilder. The NationBuilder path will be like
            https://assets.nationbuilder.com/futureparty/pages/4040/meta_images/original/hero_cloudfront_pink_library.png?1715400334
          {% endcomment %}
          {% assign nameParts = att.file_name | split: 'cloudfront_' %}
          {% if nameParts.size >= 2 %}
            {% assign heroImage = 'https://fusionparty.space/images/' | append: nameParts[1] %}
          {% endif %}
          {% comment %}
            Please use useful names for your images!
          {% endcomment %}
          {% assign altText = att.file_name | replace: 'hero_', '' | replace: 'cloudfront_', '' | replace: '_', ' ' | replace: '.webp', '' | replace: '.png', '' | replace: '.jpg', '' %}
          {% break %}
      {%  else %}
          {% if att.file_name contains "splash" %}
              {% assign splashImage = att.file_name %}
              {% assign hasBackground = true %}
          {%  endif %}
      {% endif %}
    {% endfor %}
    {% if heroImage.size > 0 %}
      <img class="mt-0 mt-lg-2" src="{{ heroImage }}" alt="{{ altText }}"/>
    {%  else %}
        {%  if splashImage.size > 0 %}
        <img class="mt-0 mt-lg-2" src="{{ heroImage }}" alt="{{ altText }}"/>
        {%  endif %}
    {% endif %}
    {% if page.headline.size > 0 %}
        <div class="header-content d-flex align-items-center">
            {% assign h_color = 'pink' %}
            {% for tag in page.tags %}
                {% if tag.name contains "_h-" %}
                    {% assign h_color = tag.name | replace: '_h-', '' %}
                    {% break %}
                {% endif %}
            {% endfor %}
            {% assign phrases = page.headline | split: ' ' %}
            {% comment %}
            We'll find the closest space to the middle, and use the two halves as separate spans
            {% endcomment %}
            {% assign midpoint = page.headline.size | divided_by: 2 %}
            {% assign one_third_point = page.headline.size | divided_by: 3 %}
            {% assign two_third_point = page.headline.size | times: 2 | divided_by: 3 %}
            {% assign best_distance_to_midpoint = midpoint %}
            {% assign best_distance_one_third = one_third_point %}
            {% assign best_distance_two_third = two_third_point %}
            {% assign best_split_midpoint = 0 %}
            {% assign best_split_one_third = 0 %}
            {% assign best_split_two_third = 0 %}
            {% assign midpoint_chosen = false %}
            {% assign one_third_chosen = false %}
            {% assign two_third_chosen = false %}
            {% assign current_length = 0 %}
            {% for phrase in phrases %}
                {% unless midpoint_chosen %}
                    {% assign current_length = current_length | plus: phrase.size %}
                    {% assign current_distance = current_length | minus: midpoint %}
                    {% comment %}
                    NationBuilder links to Liquid documentation at https://shopify.github.io/liquid which doesn't
                    include a version. It turns out that `abs` is not implemented in the version of Liquid being
                    used by NationBuilder.
                    {% endcomment %}
                    {% if current_distance < 0 %}
                        {% assign current_distance = current_distance | times: -1 %}
                    {% endif %}
                    {% if current_distance <= best_distance_to_midpoint %}
                        {% assign best_split_midpoint = forloop.index %}
                        {% assign best_distance_to_midpoint = current_distance %}
                    {% else %}
                        {% assign midpoint_chosen = true %}
                    {% endif %}
                {% endunless %}

                    {% unless one_third_chosen %}
                        {% assign current_distance = current_length | minus: one_third_point %}
                        {% if current_distance < 0 %}
                            {% assign current_distance = current_distance | times: -1 %}
                        {% endif %}
                        {% if current_distance <= best_distance_one_third %}
                            {% assign best_split_one_third = forloop.index %}
                            {% assign best_distance_one_third = current_distance %}
                        {% else %}
                            {% assign one_third_chosen = true %}
                        {% endif %}
                    {% endunless %}

                    {% unless two_third_chosen %}
                        {% unless forloop.index == best_split_one_third %}
                            {% assign current_distance = current_length | minus: two_third_point %}
                            {% if current_distance < 0 %}
                                {% assign current_distance = current_distance | times: -1 %}
                            {% endif %}
                            {% if current_distance <= best_distance_two_third %}
                                {% assign best_split_two_third = forloop.index %}
                                {% assign best_distance_two_third = current_distance %}
                            {% else %}
                                {% assign two_third_chosen = true %}
                            {% endif %}
                        {% endunless %}
                    {% endunless %}

                    {% assign current_length = current_length | plus: 1 %}
                {% endfor %}

                {% assign first_half = phrases | slice: 0, best_split_midpoint | join: ' ' %}
                {% assign second_half = phrases | slice: best_split_midpoint + 1, phrases.size | join: ' ' %}
                {% assign first_third = phrases | slice: 0, best_split_one_third | join: ' ' %}
                {% assign second_third = phrases | slice: best_split_one_third + 1, best_split_two_third | join: ' ' %}
                {% assign third_third = phrases | slice: best_split_two_third + 1, phrases.size | join: ' ' %}
                {%  assign is_very_long = false %}
                {%  assign is_extra_long = false %}
                {% if first_half.size >= 18 %}
                    {%  assign is_very_long = true %}
                {%  endif %}
                {% if second_half.size >= 18 %}
                    {%  assign is_very_long = true %}
                {%  endif %}
                {% if page.headline.size >= 30 %}
                    {%  assign is_very_long = true %}
                    {%  if page.headline.size >= 49 %}
                        {%  assign is_extra_long = true %}
                        {%  comment %}
                        The title will just be shown as one heading; we'll abandon attempts to split it up.
                        {% endcomment %}
                    {%  endif %}
                {%  endif %}
                <h1 data-toc-skip class="{% if hasBackground %}bg-gray-transparent{% endif %} align-items-left h-underline h-{{ h_color }} h-underline-animate {% if isNicokaku %}nicokaku{% else %}inter{% endif %} {% if hasBackground %}fw-700{% else %}fw-600{% endif %}
                    ml-3 ml-sm-4 ml-md-5 mt-3 mt-lg-4 p-1 {% if is_very_long %}{% if is_extra_long %}fs-scale-extra-long{% else %}fs-scale-3-lines{% endif %}{% else %}{% unless wide %}fs-scale{% endunless %}{% endif %}">
                    {% if is_extra_long %}
                        {{ page.headline }}
                    {% else %}
                        {% if phrases.size >= 2 %}
                            {% if is_very_long %}
                                <span class="d-none d-xl-block fs-scale">{{  page.headline }}</span>
                            {% else %}
                                <span class="d-none d-md-block fs-scale">{{ page.headline }}</span>
                            {% endif %}
                            {% if is_very_long %}
                                <span class="d-none d-lg-block d-xl-none fs-scale">{{ first_half }}</span>
                                <span class="d-none d-lg-block d-xl-none fs-scale">{{ second_half }}</span>
                                <span class="d-none d-sm-block d-lg-none">{{ first_half }}</span>
                                <span class="d-none d-sm-block d-lg-none">{{ second_half }}</span>
                                {% if first_third.size > 0 %}
                                    <span class="d-block d-sm-none">{{ first_third }}</span>
                                {% endif %}
                                {% if second_third.size > 0 %}
                                    <span class="d-block d-sm-none">{{ second_third }}</span>
                                {% endif %}
                                {% if third_third.size > 0 %}
                                    <span class="d-block d-sm-none">{{ third_third }}</span>
                                {% endif %}
                            {% else %}
                                <span class="d-block d-md-none fs-scale">{{ first_half }}</span>
                                <span class="d-block d-md-none fs-scale">{{ second_half }}</span>
                            {%  endif %}
                        {% else %}
                            {{ page.headline }}
                        {% endif %}
                    {% endif %}
                </h1>
            </div>
        {% endif %}
      </div>
</header>
