{% assign isLanding = false %}
{% assign isNicokaku = true %}
{% for tag in page.tags %}
    {%  if tag.name == "nicokaku" %}
        {%  assign isNicokaku = true %}
        {%  break %}
    {% comment %}else, the font will be Inter{% endcomment %}
    {% endif %}
{% endfor %}
<header class="container-fluid text-center">
    <!-- Title -->
    <h1 class="align-items-center pr-3 {% if isNicokaku %}nicokaku{% else %}inter{% endif %}">
        {{ page.headline }}
    </h1>

    <!-- Hero imagery section with responsive classes -->
    <div class="row w-100 mb-4 hero align-items-center">
        <div class="col-md-1"><!-- This column is only here to align the video at md resolution --></div>
        <div class="col-12 col-md-10 py-2">
            <div class="rounded video">
                <!-- todo: parameterise this -->
                <iframe src="https://www.youtube.com/embed/68bem_rsElQ?si=C0fiaVKWL1mxE345"
                        title="Introducing Fusion"
                        class="rounded"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</header>
