<div class="container pb-4">
  <div id="intro" class="intro mt-3">
    {{ page.signup.content }}
  </div>

<!-- Although this is a custom template, it's still being tracked in version control: see custom_join.html -->
  <div class="form bg-aquamarine-transparent rounded px-3 py-2 mx-1">
    {% form_for signup %}
    <!-- We can ask for these fields: https://support.nationbuilder.com/en/articles/2895987-fields-available-for-import -->

    <!-- FB Pixel tracking action -->
    <!-- Facebook conversion events can't be run unless we first install the FB Pixel: https://blog.hootsuite.com/facebook-pixel/
<script>fbq('track', 'Lead');</script>
-->

    {% if request.sorta_logged_in? %}
    {% for membership in current_signup.memberships %}
    {% if membership.membership_type_name == "Member" && membership.status  == "active" %}
    <p>You have been a member since {{ membership.started_at | date: "%d %b %Y" }}. You can update your details below.</p>
    {% endif %}
    {% endfor %}
    {% endif %}

    <div class="form-errors">{% error_messages_for signup %}</div>

    <div class="form-row">
      <div class="form-group col-sm-4">
        <label for="signup_first_name"></i> First Name <span class="text-danger">*</span></label>
      {% text_field "first_name", class:"form-control text" %}
    </div>
    <div class="form-group col-sm-4">
      <label for="signup_middle_name"></i> Middle Name</label>
    {% text_field "middle_name", class:"form-control text" %}
  </div>
  <div class="form-group col-sm-4">
    <label for="signup_last_name"></i> Last Name <span class="text-danger">*</span></label>
  {% text_field "last_name", class:"form-control text" %}
</div>
</div>

<div class="form-row">
  <div class="form-group col-sm-6" ><label for="signup_phone_number"><i class="fa fa-phone"></i> Phone <span class="text-danger">*</span></label>{% phone_field "phone_number", class:"form-control text" %}</div>
  <div class="form-group col-sm-6"><label for="signup_email"><i class="fa fa-envelope-o"></i> Email <span class="text-danger">*</span></label>{% email_field "email", class:"form-control text", required:"required" %}</div>
</div>

<h4 class="h-underline h-underline-animate h-pink py-3">Date of Birth</h4>
<div class="form-row">

  <div class="form-group col-sm-4 col-md-2 col-3">
    <label for="signup_dob_day"> Day <span class="text-danger">*</span></label>
    <input type="number" min="1" max="31" class="form-control number" id="dob_day" required="required" onchange="set_dob()">
  </div>

  <div class="form-group col-sm-4 col-md-2 col-6">
    <label for="signup_dob_month"> Month <span class="text-danger">*</span></label>
    <select class="form-control" id="dob_month" required="required" onchange="set_dob()">
      <option></option>
      <option>January</option>
      <option>February</option>
      <option>March</option>
      <option>April</option>
      <option>May</option>
      <option>June</option>
      <option>July</option>
      <option>August</option>
      <option>September</option>
      <option>October</option>
      <option>November</option>
      <option>December</option>
    </select>
  </div>

  <div class="form-group col-sm-4 col-md-2 col-3">
    <label for="signup_dob_year"> Year <span class="text-danger">*</span></label>
    <input type="number" min="1900" max="2020" required="required" class="form-control number" id="dob_year" onchange="set_dob()">
  </div>

</div>

<h4 class="h-underline h-underline-animate h-pink py-3">Address</h4>
<div class="form-row">
  <div class="form-row col-sm-4">
    <div class="form-group col-sm-12">
      <label for="signup_home_address_address1">Street Address <span class="text-danger">*</span></label>
      {% text_field "home_address.address1", class:"form-control text", required:"required", placeholder:"" %}
    </div>
    <div class="form-group col-sm-12">
      <label for="signup_home_address_address2"><small>Unit / Apartment Number <em>(if applicable)</em></small></label>
      {% text_field "home_address.address2", class:"form-control text" %}
    </div>
  </div>
  <div class="form-group col-sm-3">
    <label for="signup_home_address_city">Suburb <span class="text-danger">*</span></label>
    {% text_field "home_address.city", class:"form-control text", required:"required" %}
  </div>
  <div class="form-group col-sm-2">
    <label for="signup_home_address_zip">Postcode <span class="text-danger">*</span></label>
    {% number_field "home_address.zip", class:"form-control text", required:"required" %}
  </div>
  <div class="form-group col-sm-3">
    <label for="signup_home_address_state">State <span class="text-danger">*</span></label>
    <select id="signup_home_address_state" name="signup[home_address_attributes][state]" class="form-control" required="required">
      <option value=""></option>
      <option value="ACT" {%if request.current_signup.address.state == "ACT" %} selected="selected"{% endif %}>Australian Capital Territory</option>
      <option value="NSW" {%if request.current_signup.address.state == "NSW" %} selected="selected"{% endif %}>New South Wales</option>
      <option value="NT" {%if request.current_signup.address.state == "NT" %} selected="selected"{% endif %}>Northern Territory</option>
      <option value="QLD" {%if request.current_signup.address.state == "QLD" %} selected="selected"{% endif %}>Queensland</option>
      <option value="SA" {%if request.current_signup.address.state == "SA" %} selected="selected"{% endif %}>South Australia</option>
      <option value="TAS" {%if request.current_signup.address.state == "TAS" %} selected="selected"{% endif %}>Tasmania</option>
      <option value="VIC" {%if request.current_signup.address.state == "VIC" %} selected="selected"{% endif %}>Victoria</option>
      <option value="WA" {%if request.current_signup.address.state == "WA" %} selected="selected"{% endif %}>Western Australia</option>
    </select>
  </div>
</div>
<h4 class="h-underline h-underline-animate h-pink py-3">Recruiter (optional)</h4>
<p>Did someone tell you about Fusion? Let us know so we can thank them!</p>
<!-- https://support.nationbuilder.com/en/articles/2895987-fields-available-for-import#recruiter -->
<!-- https://support.nationbuilder.com/en/articles/2306276-how-recruiters-are-tracked -->
<div class="form-row">
  <div class="form-group col-sm-3">
    <!-- recruiter_email causes "recruiter_email is not a valid form field for signup" -->
    <!-- signup_recruiter_email is not valid either -->
    <!-- signup_recruiter_id is not valid -->
    <!-- recruiter_id works. I would want to fetch this person and present their email address, after checking that they're indeed
a public recruiter, but API tokens apparently don't work, when used within
the website theme: https://nationbuilder.com/xdjc/making_nationbuilder_api_requests_inside_of_a_nationbuilder_theme -->
    <small><label for="recruiter_id">Recruiter ID</label></small>
    {% text_field "recruiter_id", class:"form-control text" %}
  </div>

  <div class="form-group col-sm-9">
    {% for cf in custom_fields.signup %}

    {% assign custom_field = cf[1] %}


    {% if custom_field.slug == 'signup_msg' %}
    {% assign custom_field_id = 'custom_values.' | append: custom_field.slug %}
    <small><label for="signup_custom_values_signup_msg">Name or email <em>(if ID is unknown)</em></label></small>
    {% text_field custom_field_id, class:"form-control text" %}
    {% endif %}

    {% endfor %}
  </div>
</div>


<div>
  {% if page.signup.has_labeled_tags? %}
  <h3>Choose your movement:</h3>
  {% include "labeled_tags_dropdown" %}
  <div><a href="what_is_a_movement" target="_blank">What does it mean to choose a movement ?</a></div>
  {% endif %}
</div>

<hr/>

<div>(<span class="text-danger">*</span> Required)</div>

<input name="signup[activity_is_private]" type="hidden" value="1" />
<input name="signup[is_profile_private]" type="hidden" value="1">
<input name="signup[is_survey_question_private]" type="hidden" value="1">
<input name="signup[is_profile_searchable]" type="hidden" value="0">
<input name="signup[is_leaderboardable]" type="hidden" value="0">
<input type="hidden" id="signup_home_address_country_code" name="signup[home_address_attributes][country_code]" value="AU" />
<input type="hidden" id="signup_born_at_chronic" name="signup[born_at_chronic]">

<ul>
  <li>I confirm that my details match <a href="https://check.aec.gov.au/" target="_blank">those on the electoral roll</a>.</li>
  <li>I declare that I will abide by the terms of the party's <a href="/code_of_conduct">Code of Conduct</a>.</li>
  <li>I declare that I am not a current member of any registered Australian political party.</li>
  <li>I consent to being contacted by the Party to verify my membership application.</li>
  <li>I am aware that it is a serious offence to make a false declaration.</li>
</ul>

{% if request.sorta_logged_in? %}
{% submit_tag "Update info", class:"btn btn-primary btn-lg submit-button" %}
{% else %}
{% submit_tag "Sign up", class:"btn btn-primary btn-lg submit-button" %}
{% endif %}

<script>
  function getQueryParameterByName(name, url) {
    if (!url) url = window.location.href;
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }
  $(document).ready(function (){
    var qsrecruiter = getQueryParameterByName('recruiter_id');

    if (!$("#signup_recruiter_id").value) {
      if (qsrecruiter) {
        $("#signup_recruiter_id").val(qsrecruiter);
        console.log("We've used the query string to fill in the recruiter field");
      } else {
        console.log("No recruiter was specified in the query string");
      }
    }
  });
</script>

<div class="form-submit"></div>
<script>

  const months = {
    'January': 31,
    'February': 28,
    'March': 31,
    'April': 30,
    'May': 31,
    'June': 30,
    'July': 31,
    'August': 31,
    'September': 30,
    'October': 31,
    'November': 30,
    'December': 31
  };

  function set_dob() {
    const current_day = document.getElementById("dob_day").value;
    const current_month = document.getElementById("dob_month").value;
    const max = months[current_month];
    if ( current_day > max ) {
      document.getElementById("dob_day").value = max;
    }

    const day = document.getElementById("dob_day").value;
    const month = document.getElementById("dob_month").selectedIndex;
    const year = document.getElementById("dob_year").value;

    //const new_dob = `${day} ${month}, ${year}`;
    const new_dob = year + '-' + month + '-' + day;
    document.getElementById("signup_born_at_chronic").value = new_dob;
  }

</script>

{% endform_for %}

{% if page.text_keyword_instructions.size > 0 %}
<div class="form-group py-2">
  or {{ page.text_keyword_instructions }}
</div>
{% endif %}
</div>

</div>
