{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">

  {% if page.feedback.content.size > 0 %}
  <div id="intro" class="intro">
    {{ page.feedback.content }}
  </div>
  {% endif %}

  <div class="form-wrap bg-aquamarine-transparent rounded p-3">
    <div class="form">

      {% if request.sorta_logged_in? %}

      <h4>Hi {{ request.current_signup.name_or_email }}, what's on your mind?</h4>

      {% if request.logged_in? == false %}
      <div class="mt-2">
        If you're not {{ request.current_signup.name_or_email }},
        <a href="{{ request.current_signup.logout_url }}">click here</a>.
      </div>
      {% endif %}

      {% else %}

      {% endif %}

      {% if request.sorta_logged_in? == false or request.current_signup.has_name? == false %}
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="feedback_first_name">First Name</label>
          {% text_field "first_name", class:"form-control text" %}
        </div>

        <div class="form-group col-sm-6">
          <label for="feedback_last_name">Last Name</label>
          {% text_field "last_name", class:"form-control text" %}
        </div>
      </div>
      {% endif %}

      {% if request.sorta_logged_in? == false or request.current_signup.has_mobile? == false %}
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="feedback_email">Email</label>
          {% email_field "email", class:"form-control text" %}
        </div>
      </div>
      {% endif %}

      {% form_for feedback %}

      <div class="form-errors">{% error_messages_for feedback %}</div>

      {% if page.feedback.is_content? %}
      <div class="form-group">
        <label for="feedback_content">{{ page.feedback.content_name }}</label>
        {% text_area "content", class:"form-control textarea autogrow", placeholder: "Keep up the great work!" %}
      </div>

      {% if site.ask_to_publish_to_stream? %}
      <div class="form-group">
        <div class="form-check">
          {% check_box "is_private", class:"form-check-input checkbox" %}
          <label class="form-check-label checkbox" for="feedback_is_private">Don't post this publicly</label>
        </div>
      </div>
      {% endif %}
      {% endif %}

      {% if page.show_consent_form? %}{% include "consent_form" %}{% endif %}

      {% submit_tag page.feedback.submit_button_name, class:"btn bg-pink btn-primary" %}
      <div class="form-submit"></div>

      {% endform_for %}

    </div>
  </div>

  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

</div>
