<div class="row">
  <div class="{% if page.is_homepage? %}col{% else %}col-12 col-lg-9 mx-auto{% endif %}">
    {{ page.basic.content }}

    {% include "page_tags" with page %}

    {% if site.page_tags contains "homepage" %}
      <div class="container my-4">
        {% comment %}
        We do not wish to support too many options for the signup form on the homepage.
        {% tag "homepage" with "homepage_widget" %}
        {% endcomment %}
        {% include "homepage_excerpt_signup" %}
      </div>
    {% endif %}

    {% if page.show_stream? %}
      <div class="mt-4">
        {% include "page_stream" %}
      </div>
    {% endif %}

  </div>
</div>
